In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
import torch
import torch.nn as nn
import torch.optim as optim
from torchvision import datasets, transforms, utils
from torch.utils.data import DataLoader

ModuleNotFoundError: No module named 'torch'

In [7]:
DATA = pd.read_csv('neo_db_prev.csv')

C:\Users\santi\AppData\Local\Temp\ipykernel_31692\1855742764.py:1: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  DATA = pd.read_csv('neo_db_prev.csv')

In [11]:
np.unique(DATA["class"])

array(['AMO', 'APO', 'ATE', 'ETc', 'HTC', 'IEO', 'JFC', 'JFc'],
      dtype=object)

In [16]:
# First filter rows with complete albedo data
albedo_complete = DATA.dropna(subset=['albedo'])

# Then count how many of these have spec_B data
spec_b_count = albedo_complete['spec_B'].count()

# Get descriptive statistics of spec_B for rows with complete data
spec_b_stats = albedo_complete['spec_B'].describe()

print(f"Number of objects with spec_B among complete albedo data: {spec_b_count}")
print("\nDescriptive statistics of spec_B:")
print(spec_b_stats)

Number of objects with spec_B among complete albedo data: 130

Descriptive statistics of spec_B:
count     130
unique     25
top         S
freq       28
Name: spec_B, dtype: object

In [17]:
DATA['i'].describe()

count    38105.000000
mean        11.999627
std         10.951432
min          0.010000
25%          4.400000
50%          8.480000
75%         16.710000
max        172.510000
Name: i, dtype: float64

In [4]:
## remove 2 first columns
DATA = DATA.iloc[:,2:]

NameError: name 'DATA' is not defined

In [ ]:
DATA

,kind,class,H,G,BV,UB,IR,spec_T,spec_B,equinox,...,albedo,diameter,extent,diameter_sigma,GM,density,rot_per,A1,A2,A3
0,an,AMO,10.41,0.46,0.921,0.531,NaN,S,S,J2000,...,0.250,16.840,34.4x11.2x11.2,0.06,0.000446,2.67,5.270,NaN,NaN,NaN
1,an,AMO,15.59,NaN,NaN,NaN,NaN,NaN,S,J2000,...,NaN,NaN,NaN,NaN,NaN,NaN,5.801,NaN,NaN,NaN
2,an,AMO,13.80,-0.12,0.832,0.436,NaN,S,NaN,J2000,...,0.310,4.200,NaN,NaN,NaN,NaN,28.410,NaN,NaN,NaN
3,an,AMO,9.18,0.30,0.842,0.417,NaN,S,S,J2000,...,0.238,37.675,NaN,0.40,NaN,NaN,10.297,NaN,NaN,NaN
4,an,AMO,17.37,NaN,NaN,NaN,NaN,NaN,NaN,J2000,...,NaN,1.000,NaN,NaN,NaN,NaN,NaN,NaN,-7.200000e-15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38100,cu,JFc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38101,cu,HTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.400000e-09,-3.000000e-10,2.100000e-09
38102,cu,HTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38103,cu,ETc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38104,cu,JFc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
DATA.columns

Index(['kind', 'class', 'H', 'G', 'BV', 'UB', 'IR', 'spec_T', 'spec_B',
       'equinox', 'epoch', 'e', 'a', 'q', 'i', 'om', 'w', 'tp', 'ma', 'albedo',
       'diameter', 'extent', 'diameter_sigma', 'GM', 'density', 'rot_per',
       'A1', 'A2', 'A3'],
      dtype='object')

Quitar 
 
G BV  UB IR spec_T equinox extent GM density tp ma diameter_sigma epoch

In [ ]:
DATA["epoch"].describe()

count    3.810500e+04
mean     2.460008e+06
std      1.986196e+03
min      2.366200e+06
25%      2.460232e+06
50%      2.460800e+06
75%      2.460800e+06
max      2.460800e+06
Name: epoch, dtype: float64

In [ ]:
cols_to_remove = ['G', 'BV', 'UB', 'IR', 'spec_T','spec_B', 'equinox', 'extent', 'GM', 'density', 'tp', 'ma', 'diameter_sigma', 'epoch', "A1", "A2", "A3", "om", "w", "rot_per"]
DATA = DATA.drop(columns=cols_to_remove)

In [ ]:
list(DATA.columns)

## print columnds type
for col in DATA.columns:
    print(col, DATA[col].dtype)

kind object
class object
H float64
e float64
a float64
q float64
i float64
albedo float64
diameter float64